html,
body {
  font-family: 'SF Pro Text',
  'SF Pro Icons',
  'Helvetica Neue',
  'Helvetica',
  'Arial',
  sans-serif;
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
